logs/
dist/
arch/src/
arch/pkg/
arch/*.pkg.tar.*
arch/*.tar.gz
arch/PKGBUILD
arch/*.desktop
arch/*.svg
verifier/node_modules/
remote-ssh/node_modules/
remote-ssh/lib/
remote-ssh/out/
remote-ssh/tsconfig.tsbuildinfo
